<h2>NEW POST</h2>
<form action='/' method='post'>
  <table>
    <tr>
      <td><input type="text" name="message" /></td>
      <td><input type='submit' /></td>
    </tr>
  </table>

</form>

<div id="chat">

  <table>
    {{#each allMessages as |message|}}
      <tr>
        <td>message.message</td>
        <td>by message.author</td>
      </tr>
    {{/each}}
  </table>


</div>
