<h2>NEW POST</h2>
<form action='/' method='post'>
  <table>
    <tr>
      <td><input type="text" name="message" /></td>
      <td><input type='submit' /></td>
    </tr>
  </table>

</form>

<div id="chat">

  <table>
    <!-- {{#each allMessages as |message|}}
      {{#each message as |obj|}}
      <tr>
        <td>obj</td>
        <td>obj</td>
      </tr>
      {{/each}}
    {{/each}} -->
    {{#each allMessages}}
    <div class = "row">{{message}}</div>
    {{/each}}

  </table>


</div>
