<h2>NEW POST</h2>
<form action='/' method='post'>
  <table>
    <tr>
      <td><input type="text" name="message" /></td>
      <td><input type='submit' /></td>
    </tr>
  </table>

</form>
{{allMessages}}
<div id="chat">

  <table>
    {{#each params as |param|}}
        <tr>
          <td>param</td>
          <td>param.message</td>
          <td>by param.author</td>
      </tr>
    {{/each}}
  </table>


</div>
