<h2>NEW POST</h2>
<form action='/' method='post'>
  <table>
    <tr>
      <td><input type="text" name="message" /></td>
      <td><input type='submit' id="submit"/></td>
    </tr>
  </table>

</form>
<div id="chat">

  <table id = "myTable">
    {{#each allMessages}}
    <tr>
      <td id="{{id}}">
        {{author}}: {{message}}
      </td>
    </tr>

    {{/each}}
  </table>


</div>
