<h2>NEW POST</h2>
<form action='/' method='post'>
  <table>
    <tr>
    <td><input type="text" name="message"/></td>
    <td><input type='submit' /></td>
  </tr>
  </table>

</form>
{{allMessages}}

<div>
  {{#each allMessages as |message|}}
  <table>
    <tr>
    <td>message.message</td>
    <td>by message.author</td>
  </tr>
  </table>
  {{/each}}
</div>
